<h2 mat-dialog-title>Meine Bewertungen</h2>
<mat-dialog-content>
  <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
    <ng-container *ngSwitchCase="DataState.LOADING_STATE">
      LOADING...
    </ng-container>
    <ng-container *ngSwitchCase="DataState.LOADED_STATE">
      <app-rating-card *ngFor="let rating of appState.appData!.data!.ratings" [rating]="rating" [routerLink]="['/bouncy-house/', rating.bouncyHouseId!]" mat-dialog-close></app-rating-card>
    </ng-container>
    <ng-container *ngSwitchCase="DataState.ERROR_STATE">
      ERROR
    </ng-container>
  </ng-container>
</mat-dialog-content>

