<mat-toolbar color="primary">
  <span>Aktiv Vermietet</span>
</mat-toolbar>


 <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- userId Column -->
      <ng-container matColumnDef="userId">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> User ID </th>
        <td mat-cell *matCellDef="let element">{{element.userId}}</td>
      </ng-container>

      <!-- bouncyHouseId Column -->
      <ng-container matColumnDef="bouncyHouseId">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Hüpfburg ID </th>
        <td mat-cell *matCellDef="let element"> {{element.bouncyHouseId}}</td>
      </ng-container>

      <!-- startDate Column -->
      <ng-container matColumnDef="startDate">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Von </th>
        <td mat-cell *matCellDef="let element"> {{element.pricePerDay | currency:'EUR'}} </td>
      </ng-container>

      <!-- endDate Column -->
      <ng-container matColumnDef="endDate">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Bis </th>
        <td mat-cell *matCellDef="let element" > {{element.size}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
