<ng-container
  *ngIf="appState$ | async as appState"
  [ngSwitch]="appState.dataState"
>
  <ng-container *ngSwitchCase="DataState.LOADING_STATE">
    LOADING...
  </ng-container>
  <ng-container *ngSwitchCase="DataState.LOADED_STATE">
    <mat-card (click)="navigateDetailPage()">
      <figure>
        <img [src]="bouncyHouse.imageUrl" [alt]="bouncyHouse.name" />
      </figure>
      <a>
        <div class="content">
          <strong class="title">{{ bouncyHouse.name }}</strong>
          <br>
          <br>
            <span role="listitem"
              >{{ rented.startDate | date: "longDate" }}</span
            >
          <div class="devider">bis</div>
            <span role="listitem"
              >{{ rented.endDate | date: "longDate" }}</span
            >
        </div>
      </a>
    </mat-card>
  </ng-container>
  <ng-container *ngSwitchCase="DataState.ERROR_STATE"> Ups, etwas ist schiefgegangen. Fehler: {{appState.error}} </ng-container>
</ng-container>
