<mat-toolbar color="primary">
  <span>Bouncy Houses</span>
  <button mat-raised-button (click)="addItemDialog()">ADD ITEM</button>
</mat-toolbar>

<ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
  <ng-container *ngSwitchCase="DataState.LOADING_STATE">
    <div>
      Loading...
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="DataState.LOADED_STATE">
    <table mat-table matSort [dataSource]="appState.appData!.data!.bouncy_houses" (matSortChange)="sortData($event)" class="mat-elevation-z8">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element" (click)="editItemDialog(element)"> {{element.id}} </td>
      </ng-container>

      <!-- image Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Foto </th>
        <td mat-cell *matCellDef="let element" (click)="editItemDialog(element)">
          <img [src]="element.imageUrl" [alt]="element.name" width="50px" height="50px">
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header="name" *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element" (click)="editItemDialog(element)"> {{element.name}}</td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price_per_day">
        <th mat-header-cell mat-sort-header="price" *matHeaderCellDef> Preis pro Tag </th>
        <td mat-cell *matCellDef="let element" (click)="editItemDialog(element)"> {{element.pricePerDay}} </td>
      </ng-container>

      <!-- Size Column -->
      <ng-container matColumnDef="size">
        <th mat-header-cell mat-sort-header="size" *matHeaderCellDef> Größe </th>
        <td mat-cell *matCellDef="let element" (click)="editItemDialog(element)"> {{element.size}} </td>
      </ng-container>

       <!-- theme Column -->
      <ng-container matColumnDef="theme">
        <th mat-header-cell *matHeaderCellDef> Thema </th>
        <td mat-cell *matCellDef="let element" (click)="editItemDialog(element)"> {{element.theme}} </td>
      </ng-container>

       <!-- weight limit Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> max. Gewicht (in kg) </th>
        <td mat-cell *matCellDef="let element" (click)="editItemDialog(element)"> {{element.weightLimit}} </td>
      </ng-container>

      <!-- construction time Column -->
      <ng-container matColumnDef="constructionTimeInMinutes">
        <th mat-header-cell *matHeaderCellDef> Aufbauzeit (in min) </th>
        <td mat-cell *matCellDef="let element" (click)="editItemDialog(element)"> {{element.constructionTimeInMinutes}} </td>
      </ng-container>

      <!-- with power Column -->
      <ng-container matColumnDef="withPowerConnection">
        <th mat-header-cell *matHeaderCellDef> mit Stromanschluss </th>
        <td mat-cell *matCellDef="let element" (click)="editItemDialog(element)"> {{element.withPowerConnection ? "Ja" : "Nein"}} </td>
      </ng-container>

      <!-- Delete Button Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> <app-delete-button (delete)="handleDelete(element)"></app-delete-button> </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-container>
  <ng-container *ngSwitchCase="DataState.ERROR_STATE">
    <div>{{appState.error}}</div>
  </ng-container>


</ng-container>
