<footer>
  <mat-toolbar class="toolbarNav">
    <button
      mat-flat-button
      routerLink="/profile"
      routerLinkActive="active-link"
    >
      <mat-icon class="material-icons color_blue"> manage_accounts</mat-icon>
      <span>Profil</span>
    </button>
    <button mat-flat-button routerLink="/home" routerLinkActive="active-link">
      <mat-icon class="material-icons color_blue">home </mat-icon>
      <span>Home</span>
    </button>
    <button mat-flat-button routerLink="/cart" routerLinkActive="active-link">
      <mat-icon class="material-icons color_blue">shopping_cart</mat-icon>
      <span>Cart</span>
    </button>
  </mat-toolbar>
</footer>
