@import "src/theme.scss";

mat-card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 85px;
}

mat-card-title{
  color: mat-color($my-primary)
}

mat-card-content{
  margin: 10px 0;
}

#favourite {
  position: absolute;
  top: 0;
  right: 0;
}

#back {
  position: absolute;
  top: 0;
  left: 0;
}

.features {
  display: flex;
  flex-flow: wrap;
}

.item {
  min-width: 33%;
}

app-rating-preview {
  margin-right: auto;
}

.footer {
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  z-index: 1000;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 90px;
}

.call-to-action {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;

  button {
    margin-right: 15px;
    height: 32px;
  }
}

mat-card-content {
  width: 100%;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}
