<h2>Gemietete Hüpfburgen</h2>
<ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
  <ng-container *ngSwitchCase="DataState.LOADING_STATE">
    LOADING...
  </ng-container>
  <ng-container *ngSwitchCase="DataState.LOADED_STATE">
    <div class="scrolling-wrapper">
      <app-rented-card class="card" *ngFor="let rented of appState.appData!.data!.rented" [rented]="rented"></app-rented-card>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="DataState.ERROR_STATE">
    ERROR
  </ng-container>
</ng-container>
