@import "src/theme.scss";

.filterToolbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  padding: 2em;

  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 2px 2px 4px 5px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    span {
      display: block;
    }
  }

  .is-active{
    color: mat-color($my-accent);
  }
}

#search {
  margin-top: 15px;
  font-size: 12px;
  width: 250px;
}

main {
  padding-top: 85px;
  padding-bottom: 85px;
  background-color: #ccc;

  mat-form-field {
    font-size: 11px;
    box-sizing: border-box;
    margin: 5px 0;
  }

  button {
    margin: 5px 50px 5px 10px;
  }

  .filter {
    mat-form-field {
      width: 100%;
    }
  }

  :host ::ng-deep .mat-form-field-appearance-outline {
    background: white !important;
  }
}

//input outline color
:host::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white!important;
    // opacity: 1!important;
}

//mat-input focused color
:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: white!important;
}

// mat-input error outline color
:host ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: white!important;
    opacity: 0.8!important;
}

// mat-input carent color
::ng-deep .mat-input-element {
    caret-color: white!important;
}

// mat-input error carent color
:host ::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: white!important;
}


// mat-label focused style
:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: white!important;
}

// mat-label error style
:host ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: white!important;
}
