ngb-rating {
    color: #FFC107;
    font-size: 30px;
}

mat-card{
  width: 100%;
  margin: 5px;
  overflow: hidden;
  border-radius: 10px;
		-webkit-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.28);
		-moz-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.28);
		box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.28);
}
