@import "src/theme.scss";

:host ::ng-deep.mat-calendar-body-selected {
    background-color: mat-color($my-accent);
}

mat-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#favourite {
  position: absolute;
  top: 10px;
  right: 0;
  color: white;
}

#back {
  position: absolute;
  top: 10px;
  left: 0;
  color: white;
}

.price {
  padding-left: 20px;
}

.call-to-action {
  position: absolute;
  bottom: 0;
  z-index: 1000;
  background-color: white;
  display: flex;

  button {
    margin-right: 10px;
    margin-left: auto;
  }
}
