main {
  padding-top: 50%;
  padding-bottom: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-cart {
  font-size: 24px;
  text-align: center;
  strong {
    display: block;
  }
}
